In [394]:
# Import Libraries and Dependencies
import pandas as pd
from pathlib import Path

### 1. Combine and Clean the Data
#### Import CSVs

In [395]:
# Read the CSV files into DataFrames.
path_2020 = Path('Resources/athletic_sales_2020.csv')
path_2021 = Path('Resources/athletic_sales_2021.csv')

In [396]:
# Display the 2020 sales DataFrame
#data_2020 = pd.read_csv(path_2020, index_col='invoice_date')
data_2020 = pd.read_csv(path_2020)
data_2020.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [397]:
# Display the 2021 sales DataFrame
#data_2021 = pd.read_csv(path_2021, index_col='invoice_date')
data_2021 = pd.read_csv(path_2021)
data_2021.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [398]:
# Check the 2020 sales data types.
data_2020.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [399]:
# Check the 2021 sales data types.
data_2021.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [400]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.

joined_2020_21_df = pd.concat([data_2020, data_2021], axis="rows", join="inner")
joined_2020_21_df.reset_index(drop=True, inplace=True)
joined_2020_21_df

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
9638,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
9639,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
9640,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
9641,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
9642,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

In [401]:
# Check if any values are null.
null_values = joined_2020_21_df.isnull().sum()
print(null_values)

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [402]:
# Check the data type of each column
joined_2020_21_df.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [403]:
# Convert the "invoice_date" to a datetime datatype
joined_2020_21_df['invoice_date'] = pd.to_datetime(joined_2020_21_df['invoice_date'])
#joined_2020_21_df['invoice_date'] = joined_2020_21_df['invoice_date'].dt.strftime('%m/%d/%Y')

C:\Users\lizaa\AppData\Local\Temp\ipykernel_2980\2070112322.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  joined_2020_21_df['invoice_date'] = pd.to_datetime(joined_2020_21_df['invoice_date'])

In [404]:
# Confirm that the "invoice_date" data type has been changed.
joined_2020_21_df.dtypes

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [405]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
joined_2020_21_df['total_products_sold'] = joined_2020_21_df['units_sold']
total_products_sold = joined_2020_21_df.groupby(['region', 'state', 'city', 'product'])['total_products_sold'].sum()

total_products_sold.head()

region   state     city     product
Midwest  Illinois  Chicago  Men's Apparel                2480
                            Men's Athletic Footwear      4392
                            Men's Street Footwear        7844
                            Women's Apparel              4365
                            Women's Athletic Footwear    2741
Name: total_products_sold, dtype: int64

#### Using `pivot_table`

In [406]:
# Show the number products sold for region, state, and city.
# Rename the "units_sold" column to "Total_Products_Sold"
total_products_sold = joined_2020_21_df.pivot_table(index=['region','state','city', 'product'], values='units_sold', aggfunc='sum').rename(columns={'units_sold': 'total_products_sold'})


# Show the top 5 results.
total_products_sold.head(5)

                                                    total_products_sold
region  state    city    product
Midwest Illinois Chicago Men's Apparel                             2480
                         Men's Athletic Footwear                   4392
                         Men's Street Footwear                     7844
                         Women's Apparel                           4365
                         Women's Athletic Footwear                 2741

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [407]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"

total_sales = joined_2020_21_df.groupby(['region', 'state', 'city', 'product'])['total_sales'].sum().sort_values(ascending=False)
total_sales.rename({'total_sales': 'Total Sales'})

# Show the top 5 results.
total_sales.head(5)

region     state       city           product
Northeast  New York    New York       Men's Street Footwear    8282659
                                      Women's Apparel          7801393
Southeast  Florida     Miami          Men's Street Footwear    6940445
Northeast  New York    New York       Men's Apparel            6835166
West       California  San Francisco  Women's Apparel          6644967
Name: total_sales, dtype: int64

#### Using `pivot_table`

In [408]:
# Show the total sales for the products sold for each region, state, and city.
total_sales = joined_2020_21_df.pivot_table(index=['region','state','city', 'product'], values='total_sales', aggfunc='sum').rename(columns={'total_sales': 'Total Sales'})

# Optional: Rename the "total_sales" column to "Total Sales"
#total_sales.rename(columns={'total_sales': 'Total Sales'})


# Show the top 5 results.
total_sales = total_sales.sort_values(['Total Sales'], ascending=False)
total_sales.head(5)

                                                          Total Sales
region    state      city          product
Northeast New York   New York      Men's Street Footwear      8282659
                                   Women's Apparel            7801393
Southeast Florida    Miami         Men's Street Footwear      6940445
Northeast New York   New York      Men's Apparel              6835166
West      California San Francisco Women's Apparel            6644967

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [409]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"

total_sales = joined_2020_21_df.groupby(['retailer','region', 'state', 'city', 'product'])['total_sales'].sum().sort_values(ascending=False)
total_sales.rename({'total_sales': 'Total Sales'})


# Show the top 5 results.
total_sales.head(5)

retailer     region     state           city           product
West Gear    West       California      San Francisco  Women's Apparel            6644967
                                                       Men's Athletic Footwear    5934887
Foot Locker  Southeast  South Carolina  Charleston     Men's Street Footwear      5783765
             Northeast  New York        New York       Men's Street Footwear      5687089
West Gear    West       California      San Francisco  Men's Street Footwear      5369385
Name: total_sales, dtype: int64

#### Using `pivot_table`

In [410]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
total_sales = joined_2020_21_df.pivot_table(index=['retailer','region','state','city'], values='total_sales', aggfunc='sum').rename(columns={'total_sales': 'Total Sales'})


# Show the top 5 results.
total_sales = total_sales.sort_values(['Total Sales'], ascending=False)
total_sales.head(5)

                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [412]:
# Filter the sales data to get the women's athletic footwear sales data.
total_sales = joined_2020_21_df.pivot_table(index=['retailer','region','state','city', 'product','units_sold'], values='total_sales', aggfunc='sum').rename(columns={'total_sales': 'Total Sales'})

total_sales = total_sales.sort_values(['Total Sales'], ascending=False)
filtered_total_sales = total_sales['product'].str.contains("Women\'s Athletic Footwear", case=False)
filtered_total_sales.head(50)
#print(f"{filtered_total_sales}")
#filtered_total_sales.head()

#print(f"{filtered_total_sales}")

KeyError: 'product'

#### Using `groupby`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

total_sales = joined_2020_21_df.groupby(['retailer','region', 'state', 'city', 'product'])['total_sales'].sum().sort_values(ascending=False)
total_sales.rename({'units_sold': 'Units Sold'})
filtered_total_sales = total_sales['product'].str.contains("Women\'s Athletic Footwear", case=False)

# Show the top 5 results.
total_sales.head(5)

KeyError: 'product'

#### Using `pivot_table`

In [416]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
total_sales = joined_2020_21_df.pivot_table(index=['retailer','region','state','city', 'product','units_sold'], values='units_sold', aggfunc='sum').rename(columns={'units_sold': 'Womens_footwear_units_sold'})

total_sales = total_sales.sort_values(['Womens_footwear_units_sold'], ascending=False)
#filtered_total_sales = total_sales['product'].str.contains("Women\'s Athletic Footwear", case=False)

# Show the top 5 results.
total_sales.head(5)

ValueError: Grouper for 'units_sold' not 1-dimensional

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [418]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"
total_sales = joined_2020_21_df.pivot_table(index=['invoice_date','retailer','region','state','city', 'product'], values='total_sales', aggfunc='sum').rename(columns={'total_sales': 'Total Sales'})

total_sales = total_sales.sort_values(['Total Sales'], ascending=False)
#filtered_total_sales = total_sales['product'].str.contains("Women\'s Athletic Footwear", case=False)




# Show the table.
total_sales.head()

                                                                                Total Sales
invoice_date retailer  region    state     city        product
2020-04-24   West Gear Southeast Florida   Miami       Men's Street Footwear        1265050
                                                       Women's Apparel               921274
                                                       Men's Athletic Footwear       901600
2021-06-17   Walmart   Southeast Florida   Orlando     Women's Apparel               865806
             West Gear South     Louisiana New Orleans Women's Apparel               864340

In [421]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_bins = pd.pivot_table(total_sales, index=['invoice_date'], values=['Total Sales'], aggfunc='sum')

# Sort the resampled pivot table in ascending order on "Total Sales".
daily_bins.sort_values(by='invoice_date', ascending=False).head()

              Total Sales
invoice_date
2021-12-31         198659
2021-12-30         167903
2021-12-29         211109
2021-12-28         301010
2021-12-27         602353

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [425]:
# Resample the pivot table into weekly bins, and get the total sales for each week.

weekly_bins = daily_bins.resample('W').sum()

# Sort the resampled pivot table in ascending order on "Total Sales".
weekly_bins.sort_values(by='Total Sales', ascending=False).head()

              Total Sales
invoice_date
2021-07-11       26271380
2021-07-18       24731702
2021-12-19       24698535
2021-12-12       23250286
2021-08-22       22225401