In [72]:
# Import Libraries and Dependencies
import pandas as pd
from pathlib import Path

### 1. Combine and Clean the Data
#### Import CSVs

In [73]:
# Read the CSV files into DataFrames.
path_2020 = Path('Resources/athletic_sales_2020.csv')
path_2021 = Path('Resources/athletic_sales_2021.csv')

In [74]:
# Display the 2020 sales DataFrame
#sales_2020 = pd.read_csv(path_2020, index_col='invoice_date')
sales_2020 = pd.read_csv(path_2020)
sales_2020.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [75]:
# Display the 2021 sales DataFrame
#sales_2021 = pd.read_csv(path_2021, index_col='invoice_date')
sales_2021 = pd.read_csv(path_2021)
sales_2021.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [76]:
# Check the 2020 sales data types.
sales_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          1297 non-null   object
 1   retailer_id       1297 non-null   int64
 2   invoice_date      1297 non-null   object
 3   region            1297 non-null   object
 4   state             1297 non-null   object
 5   city              1297 non-null   object
 6   product           1297 non-null   object
 7   price_per_unit    1297 non-null   int64
 8   units_sold        1297 non-null   int64
 9   total_sales       1297 non-null   int64
 10  operating_profit  1297 non-null   float64
 11  sales_method      1297 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 121.7+ KB

In [77]:
# Check the 2021 sales data types.
sales_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8346 entries, 0 to 8345
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          8346 non-null   object
 1   retailer_id       8346 non-null   int64
 2   invoice_date      8346 non-null   object
 3   region            8346 non-null   object
 4   state             8346 non-null   object
 5   city              8346 non-null   object
 6   product           8346 non-null   object
 7   price_per_unit    8346 non-null   int64
 8   units_sold        8346 non-null   int64
 9   total_sales       8346 non-null   int64
 10  operating_profit  8346 non-null   float64
 11  sales_method      8346 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 782.6+ KB

#### Combine the sales data by rows.

In [78]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.

joined_2020_21_df = pd.concat([sales_2020, sales_2021], axis="rows", join="inner")
joined_2020_21_df.reset_index(drop=True, inplace=True)
joined_2020_21_df

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
9638,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
9639,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
9640,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
9641,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
9642,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

In [79]:
# Check if any values are null.
null_values = joined_2020_21_df.isnull().sum()
print(null_values)

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [80]:
# Check the data type of each column
joined_2020_21_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   object
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 904.2+ KB

In [81]:
# Convert the "invoice_date" to a datetime datatype
joined_2020_21_df['invoice_date'] = pd.to_datetime(joined_2020_21_df['invoice_date'], errors='coerce')
joined_2020_21_df

C:\Users\lizaa\AppData\Local\Temp\ipykernel_22812\237535749.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  joined_2020_21_df['invoice_date'] = pd.to_datetime(joined_2020_21_df['invoice_date'], errors='coerce')

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
9638,Foot Locker,1185732,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
9639,Foot Locker,1185732,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
9640,Amazon,1185732,2021-12-31,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
9641,Amazon,1185732,2021-12-31,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
9642,Foot Locker,1185732,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

In [82]:
# Confirm that the "invoice_date" data type has been changed.
joined_2020_21_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   datetime64[ns]
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 904.2+ KB

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [95]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
total_products_sold = joined_2020_21_df.groupby(['region', 'state', 'city'])\
            ['units_sold'].agg(Total_Products_Sold=("sum"))


total_products_sold.sort_values(by=(['Total_Products_Sold']), ascending=False).head()

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

#### Using `pivot_table`

In [96]:
# Show the number products sold for region, state, and city.
# Rename the "units_sold" column to "Total_Products_Sold"
total_products_sold = pd.pivot_table(joined_2020_21_df,
                                     index=['region','state','city'], 
                                     values='units_sold', 
                                     aggfunc='sum').rename(columns={'units_sold': 'Total_Products_Sold'})


# Show the top 5 results.
total_products_sold.sort_values(by=("Total_Products_Sold"), ascending=False).head(5)

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [97]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"

total_sales = joined_2020_21_df.groupby(['region', 'state', 'city'])['total_sales'].sum().sort_values(ascending=False)
total_sales.rename({'total_sales': 'Total Sales'})

# Show the top 5 results.
total_sales.head(5)

region     state           city
Northeast  New York        New York         39801235
West       California      San Francisco    33973228
Southeast  Florida         Miami            31600863
           South Carolina  Charleston       29285637
           Florida         Orlando          27682851
Name: total_sales, dtype: int64

#### Using `pivot_table`

In [98]:
# Show the total sales for the products sold for each region, state, and city.
total_sales = pd.pivot_table(joined_2020_21_df,
                             index=['region','state','city'], 
                             values='total_sales', 
                             aggfunc='sum').rename(columns={'total_sales': 'Total_Sales'})

# Optional: Rename the "total_sales" column to "Total Sales"
#total_sales.rename(columns={'total_sales': 'Total Sales'})


# Show the top 5 results.
total_sales = total_sales.sort_values(['Total_Sales'], ascending=False)
total_sales.head(5)

                                        Total_Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [99]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"

total_sales = joined_2020_21_df.groupby(['retailer','region', 'state', 'city'])['total_sales'].sum().sort_values(ascending=False)
total_sales.rename({'total_sales': 'Total Sales'})


# Show the top 5 results.
total_sales.head(5)

retailer     region     state           city
West Gear    West       California      San Francisco    32794405
Kohl's       West       California      Los Angeles      25127160
Foot Locker  Northeast  New York        New York         25008568
West Gear    West       Washington      Seattle          24862675
Foot Locker  Southeast  South Carolina  Charleston       24822280
Name: total_sales, dtype: int64

#### Using `pivot_table`

In [88]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
total_sales = pd.pivot_table(joined_2020_21_df,
                             index=['retailer','region','state','city'], 
                             values='total_sales', aggfunc='sum').rename(columns={'total_sales': 'Total_Sales'})


# Show the top 5 results.
total_sales = total_sales.sort_values(['Total_Sales'], ascending=False)
total_sales.head(5)

                                                    Total_Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [89]:
# Filter the sales data to get the women's athletic footwear sales data.

filtered_total_sales = joined_2020_21_df[joined_2020_21_df['product'].str.contains("Women\'s Athletic Footwear", case=False)]
filtered_total_sales.head(50)
#print(f"{filtered_total_sales}")
#filtered_total_sales.head()

#print(f"{filtered_total_sales}")

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
21,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,36,281,10116,3742.92,Outlet
22,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,41,247,10127,4658.42,Online
23,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875.00,In-store
26,West Gear,1128299,2020-01-05,Northeast,Pennsylvania,Philadelphia,Women's Athletic Footwear,45,300,135000,47250.00,Outlet
27,West Gear,1128299,2020-01-05,Northeast,Pennsylvania,Philadelphia,Women's Athletic Footwear,34,90,3060,1254.60,Outlet
29,West Gear,1128299,2020-01-05,Northeast,Pennsylvania,Philadelphia,Women's Athletic Footwear,43,87,3741,1870.50,Online
54,West Gear,1128299,2020-01-11,West,Nevada,Las Vegas,Women's Athletic Footwear,45,275,123750,43312.50,Outlet
55,West Gear,1128299,2020-01-11,West,Nevada,Las Vegas,Women's Athletic Footwear,30,85,2550,1045.50,Outlet
56,West Gear,1128299,2020-01-11,West,Nevada,Las Vegas,Women's Athletic Footwear,44,74,3256,1497.76,Online
72,West Gear,1128299,2020-01-17,West,Nevada,Las Vegas,Women's Athletic Footwear,50,84,4200,1974.00,Online
73,West Gear,1128299,2020-01-17,West,Nevada,Las Vegas,Women's Athletic Footwear,55,300,165000,57750.00,Outlet
74,West Gear,1128299,2020-01-17,West,Nevada,Las Vegas,Women's Athletic Footwear,41,93,3813,1563.33,Outlet
91,Foot Locker,1185732,2020-01-22,Northeast,New York,New York,Women's Athletic Footwear,32,248,7936,3015.68,Outlet
92,Foot Locker,1185732,2020-01-22,Northeast,New York,New York,Women's Athletic Footwear,45,825,371250,129937.50,Outlet
93,Foot Locker,1185732,2020-01-22,Northeast,New York,New York,Women's Athletic Footwear,44,206,9064,4441.36,Online
96,West Gear,1128299,2020-01-23,West,Nevada,Las Vegas,Women's Athletic Footwear,59,75,4425,2035.50,Online
97,West Gear,1128299,2020-01-23,West,Nevada,Las Vegas,Women's Athletic Footwear,60,300,180000,63000.00,Outlet
101,West Gear,1128299,2020-01-23,West,Nevada,Las Vegas,Women's Athletic Footwear,40,90,3600,1476.00,Outlet
128,Foot Locker,1185732,2020-01-28,Northeast,New York,New York,Women's Athletic Footwear,31,240,7440,2976.00,Outlet
129,Foot Locker,1185732,2020-01-28,Northeast,New York,New York,Women's Athletic Footwear,45,800,360000,126000.00,Outlet
131,Foot Locker,1185732,2020-01-28,Northeast,New York,New York,Women's Athletic Footwear,43,216,9288,4644.00,Online
133,West Gear,1128299,2020-01-29,West,Nevada,Las Vegas,Women's Athletic Footwear,57,90,5130,2565.00,Online
134,West Gear,1128299,2020-01-29,West,Nevada,Las Vegas,Women's Athletic Footwear,47,105,4935,2270.10,Outlet
135,West Gear,1128299,2020-01-29,West,Nevada,Las Vegas,Women's Athletic Footwear,60,300,180000,72000.00,Outlet
164,Foot Locker,1185732,2020-02-03,Northeast,New York,New York,Women's Athletic Footwear,31,289,8959,3314.83,Outlet
165,Foot Locker,1185732,2020-02-03,Northeast,New York,New York,Women's Athletic Footwear,45,825,371250,129937.50,Outlet
167,Foot Locker,1185732,2020-02-03,Northeast,New York,New York,Women's Athletic Footwear,41,239,9799,4801.51,Online
168,West Gear,1128299,2020-02-04,West,Nevada,Las Vegas,Women's Athletic Footwear,60,425,255000,102000.00,Outlet
169,West Gear,1128299,2020-02-04,West,Nevada,Las Vegas,Women's Athletic Footwear,58,111,6438,3283.38,Online
170,West Gear,1128299,2020-02-04,West,Nevada,Las Vegas,Women's Athletic Footwear,47,145,6815,3066.75,Outlet
199,Foot Locker,1185732,2020-02-09,Northeast,New York,New York,Women's Athletic Footwear,50,850,425000,148750.00,Outlet
200,Foot Locker,1185732,2020-02-09,Northeast,New York,New York,Women's Athletic Footwear,46,230,10580,5078.40,Online
201,Foot Locker,1185732,2020-02-09,Northeast,New York,New York,Women's Athletic Footwear,33,289,9537,3814.80,Outlet
206,West Gear,1128299,2020-02-10,West,Nevada,Las Vegas,Women's Athletic Footwear,55,117,6435,3153.15,Online
207,West Gear,1128299,2020-02-10,West,Nevada,Las Vegas,Women's Athletic Footwear,46,140,6440,2704.80,Outlet
208,West Gear,1128299,2020-02-10,West,Nevada,Las Vegas,Women's Athletic Footwear,60,450,270000,94500.00,In-store
225,West Gear,1128299,2020-02-16,West,Nevada,Las Vegas,Women's Athletic Footwear,64,124,7936,3729.92,Online
226,West Gear,1128299,2020-02-16,West,Nevada,Las Vegas,Women's Athletic Footwear,65,475,308750,108062.50,In-store
227,West Gear,1128299,2020-02-16,West,Nevada,Las Vegas,Women's Athletic Footwear,42,152,6384,2681.28,Outlet
243,West Gear,1128299,2020-02-22,West,Nevada,Las Vegas,Women's Athletic Footwear,43,124,5332,1866.20,Outlet
244,West Gear,1128299,2020-02-22,West,Nevada,Las Vegas,Women's Athletic Footwear,60,400,240000,72000.00,In-store
245,West Gear,1128299,2020-02-22,West,Nevada,Las Vegas,Women's Athletic Footwear,58,112,6496,2858.24,Online
261,West Gear,1128299,2020-02-28,West,Nevada,Las Vegas,Women's Athletic Footwear,54,105,5670,2381.40,Online
262,West Gear,1128299,2020-02-28,West,Nevada,Las Vegas,Women's Athletic Footwear,60,350,210000,63000.00,In-store
263,West Gear,1128299,2020-02-28,West,Nevada,Las Vegas,Women's Athletic Footwear,43,119,5117,1688.61,Outlet
288,West Gear,1128299,2020-03-06,West,Nevada,Las Vegas,Women's Athletic Footwear,43,132,5676,1986.60,Outlet
289,West Gear,1128299,2020-03-06,West,Nevada,Las Vegas,Women's Athletic Footwear,60,400,240000,72000.00,In-store
293,West Gear,1128299,2020-03-06,West,Nevada,Las Vegas,Women's Athletic Footwear,56,108,6048,2479.68,Online
296,Foot Locker,1185732,2020-03-07,Northeast,New York,New York,Women's Athletic Footwear,47,261,12267,5520.15,Online
298,Foot Locker,1185732,2020-03-07,Northeast,New York,New York,Women's Athletic Footwear,38,297,11286,4288.68,Outlet

#### Using `groupby`

In [90]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

total_sales = joined_2020_21_df.groupby(['retailer','region', 'state', 'city'])\
    ['units_sold'].agg(Womens_Footwear_Units_Sold=("sum"))



# Show the top 5 results.
total_sales.sort_values(by=(['Womens_Footwear_Units_Sold']), ascending=False).head()

                                                  Womens_Footwear_Units_Sold
retailer      region    state      city
West Gear     West      California San Francisco                       81233
Kohl's        West      California Los Angeles                         74543
Foot Locker   Northeast New York   New York                            72196
Sports Direct South     Texas      Dallas                              67683
Walmart       South     Texas      Houston                             65072

#### Using `pivot_table`

In [91]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
total_sales_women = pd.pivot_table(joined_2020_21_df,
                            index=['retailer','region','state','city'], 
                            values='units_sold', 
                            aggfunc='sum').rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

total_sales_women = total_sales.sort_values(by=(['Womens_Footwear_Units_Sold']), ascending=False).head()

# Show the top 5 results.
total_sales_women.head(5)

                                                  Womens_Footwear_Units_Sold
retailer      region    state      city
West Gear     West      California San Francisco                       81233
Kohl's        West      California Los Angeles                         74543
Foot Locker   Northeast New York   New York                            72196
Sports Direct South     Texas      Dallas                              67683
Walmart       South     Texas      Houston                             65072

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [92]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"
total_sales_women = pd.pivot_table(joined_2020_21_df,
                             index=['invoice_date'], 
                             values='total_sales', aggfunc='sum').rename(columns={'total_sales': 'Total_Sales'})

total_sales_women = total_sales_women.sort_values(['Total_Sales'], ascending=False)
#filtered_total_sales = total_sales['product'].str.contains("Women\'s Athletic Footwear", case=False)




# Show the table.
total_sales_women.head()

              Total_Sales
invoice_date
2021-07-16       12261098
2021-12-16       10871121
2021-06-17       10239903
2021-08-17        9517031
2021-07-23        7689134

In [93]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_bins = total_sales_women.resample('D').sum()

# Sort the resampled pivot table in ascending order on "Total Sales".
daily_bins.sort_values(by='Total_Sales', ascending=False).head()

              Total_Sales
invoice_date
2021-07-16       12261098
2021-12-16       10871121
2021-06-17       10239903
2021-08-17        9517031
2021-07-23        7689134

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [94]:
# Resample the pivot table into weekly bins, and get the total sales for each week.

weekly_bins = daily_bins.resample('W').sum()

# Sort the resampled pivot table in ascending order on "Total Sales".
weekly_bins.sort_values(by='Total_Sales', ascending=False).head()

              Total_Sales
invoice_date
2021-07-11       26271380
2021-07-18       24731702
2021-12-19       24698535
2021-12-12       23250286
2021-08-22       22225401